.wrapper {
    
    display: flex;
    flex-direction: row;
    justify-content: center;



}

.container {
    padding: 5px;
    background-color: black;
    display: flex;
    height: 80vh;
    margin: 0px 10px;
    min-width: 20vw;
    border-radius: 10px;
    margin-top: 50px;
    flex-direction: column;

}

.started {
    background-color: rgb(216, 216, 216);

}



.inProgress {
    background-color: rgb(216, 216, 216);


}

.done {
    background-color: rgb(216, 216, 216);

}

.card {
    padding: 15px 0px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: flex;
    height: min-content;
    font-family: sans-serif;
    flex-direction: column;
    margin-bottom: 5px;
}
.button{
    background-color: black;
    color: white;
    padding-left: 10px;
    font-weight: 600;
    margin-top: 5px;
}